@import "tailwindcss";
@import 'pixel-retroui/dist/index.css';

@keyframes cloud-float {
    0% {
        transform: translateX(-200px);
    }

    100% {
        transform: translateX(calc(100vw + 200px));
    }
}

.cloud-float {
    animation: cloud-float 30s linear infinite;
}